.login-layout {
    align-items: center;
    background: url('/img/rest-blur.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    line-height: .6;
    width: 100vw;
}

.login-layout__login {
    background: fade-out(rgb(251, 214, 0), .7);
    border-radius: 15px;
    border-style: ridge;
    border-color: $wine;
    border-width: .5rem ;
    padding: $m-size $s-size;
    text-align: center;
    width: 40rem;
}

.logo {
    font-family: 'Krona One', sans-serif;
    text-shadow: 2px 2px rgba(194, 194, 246, 0.719);
    color: $wine;
    margin: 0 0 $m-size 0;
    line-height: 1;
}