.login-layout {
    align-items: center;
    background: url('/img/maldives-hurawalhi-undersea-restaurant.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    line-height: .6;
    width: 100vw;
}

.login-layout__login {
    background: fade-out(rgb(104, 233, 238), .7);
    border-radius: 15px;
    border-style: ridge;
    border-color: $brand;
    border-width: .5rem ;
    padding: $m-size $s-size;
    text-align: center;
    width: 40rem;
}

.logo {
    font-family: 'Michroma',
    sans-serif;
    text-shadow: 2px 2px rgba(242, 226, 5, .7);
    color: $brand;
    margin: 0 0 $m-size 0;
    line-height: 1;
}