.header {
    //background: steelblue;
    background: url(/img/steel-blue-pat.png);
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;    
    padding: $s-size 0;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: 'Play', sans-serif;
    font-size: .8em;
    text-shadow: 3px 3px rgba(25, 10, 235, .5);
    h1 {
        margin: 0;
    }
}