.page-header {
    background: $off-white2;
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    font-weight: 500;
    color: rgb(185, 135, 7);
    //text-shadow: 1px 1px rgba(55, 13, 241, 0.7);
    margin: 0;
    span {
        font-weight: 900;
    }
}
